*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{

    /*Background Color**/
    --bg-primary-color:rgb(5, 5, 5);
    --bg-fill-color: #fdfdfc;
    --bg-food-color: red;

    /*Text-Color**/
    --text-primary-color: #aeb1f8;
 
     /*border-color**/
     --border-primary-color: #ffffff7a;

    /*Spacing Variables**/
    --space-xs: 4px; /*extra small*/
    --space-sm: 8px; /*small*/
    --space-md: 16px; /*medium*/
    --space-lg: 24px; /*large*/
    --space-xl: 32px; 
    --space-2xl: 40px;
    --space-3xl: 48px;

    /*border-radius**/
     --border-radius-xs: 4px;
     --border-radius-sm: 8px;
     --border-radius-md: 12px;
     --border-radius-lg: 16px;
     --border-radius-xl: 20px;
     --border-radius-2xl: 50px;
}

html{
    background-color: var(--bg-primary-color);
    color:var(--text-primary-color);
    font-family:cursive;
    
}

main,section{
    width:100%;
    height:100%;
    
}

.btn{
    padding:  var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(90, 173, 12, 0.868);
}

.btn:hover{
    transform: scale(1.1);
}

section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-2xl);
    background-color:aqua;
    color: black;
    margin: 20px;
}

.board{
   border: 2px solid var(--border-primary-color);
   flex-grow: 1;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
   grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block{
  
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #34212187;
    backdrop-filter: blue(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game,
.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
    color: white;
}

.modal .game-over{
    display: none;
    color: white;
}


/***/